.hero__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  /* or 162% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $bg-white;

  margin: 0;
  padding-top: 118px;
  padding-bottom: 30px;
}
