.footer__button {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  color: $bg-white;
  background-color: $main-color;

  cursor: pointer;
}
