.footer__action {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $bg-white;

  display: block;

  margin-bottom: 20px;
}
