.header__link-contact {
  display: inline-block;
  margin-bottom: 16px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  text-decoration: none;

  color: $grey;
}
