.header__link {
  display: inline-block;
  margin-bottom: 52px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $secondary-color;

  &--current {
    display: inline-block;
    margin-bottom: 52px;

    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: $main-color;
  }
}
