.benefits__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: %secondary-color;
  margin: 0;
  padding: 0;
}

.benefits__subtitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $grey;
}
